<!doctype html>
<html ng-app="surveyBot">
  <head>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/QuestionsController.js"></script>
    <script src="controllers/ResultsController.js"></script>
    <script src="services/ResponsesFactory.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Survey Bot</title>
  </head>
  <body>
    <div class="container">

      <!-- begin QCtrl -->
      <div ng-controller="QCtrl">
        <div id="fun-question" ng-hide="ResponsesFactory.responses.length >= 5">
          <h4>{{question}}</h4>
          <form ng-submit="ResponsesFactory.addResponse()" class="form-inline" role="form">
            <div class="form-group">

              <!-- next president -->
              <select id="president-response" ng-model="ResponsesFactory.president" class="form-control">
                <option value="">Who should be the next president?</option>
                <option value="bernie">Bernie Sanders</option>
                <option value="hillary">Hillary Clinton</option>
                <option value="arnie">Arnold Schwarzenegger</option>
                <option value="homer">Homer Simpson</option>
                <option value="donald">Donald Trump</option>
              </select>
              <!-- end next president -->

              <!-- fav science entertainer -->
              <select id="science-response" ng-model="ResponsesFactory.science" class="form-control">
                <option value="">Who is the highest-quality science entertainer?</option>
                <option value="carl">Carl Sagan</option>
                <option value="neil">Neil deGrasse Tyson</option>
                <option value="bill">Bill Nye the Science Guy</option>
                <option value="richard">Richard Dawkins</option>
                <option value="michio">Michio Kaku</option>
              </select>
              <!-- end fav science entertainer -->


            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div id="thank-you" ng-show="ResponsesFactory.responses.length">
          Thank you! Your response has been recorded.
        </div>
      </div>
      <!-- end QCtrl -->



      <!-- begin ResultsCtrl -->
      <div id="results" ng-controller="ResultsCtrl">
        <button class="btn" ng-show="ResponsesFactory.responses.length >= 5" ng-click="showResults = true">Show Results</button>
        <div ng-show="showResults">
          <ul>
            <li ng-repeat="item in ResponsesFactory.responses">{{item}}</li>
          </ul>
        </div>
      </div>
      <!-- end ResultsCtrl -->



    </div>
  </body>
</html>
