<!doctype html>
<html ng-app="surveyBot">
  <head>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/QuestionsController.js"></script>
    <script src="controllers/ResultsController.js"></script>
    <script src="services/ResponsesFactory.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Survey Bot</title>
  </head>
  <body>
    <div class="container">

      <!-- begin QCtrl -->
      <div ng-controller="QCtrl">
        <div id="fun-question">
          <h4>{{question}}</h4>
          <form ng-submit="ResponsesFactory.addResponse()" class="form-inline" role="form">
            <div class="form-group">
              <input id="fun-response" ng-model="ResponsesFactory.fun" type="text" class="form-control" placeholder="Fun!">
              <input id="embarrassing-response" ng-model="ResponsesFactory.embarrassing" type="text" class="form-control" placeholder="Embarrassing!">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div id="thank-you" ng-show="ResponsesFactory.responses.length">
          Thank you!
        </div>
      </div>
      <!-- end QCtrl -->



      <!-- begin ResultsCtrl -->
      <div id="results" ng-controller="ResultsCtrl">
        <button class="btn" ng-show="ResponsesFactory.responses.length >= 5" ng-click="showResults = true">Show Results</button>
        <div ng-show="showResults">
          <ul>
            <li ng-repeat="item in ResponsesFactory.responses">{{item}}</li>
          </ul>
        </div>
      </div>
      <!-- end ResultsCtrl -->











      <div id="results" ng-show="embarrassingResponses.length >= 5 && funResponses.length >= 5">
        show results here
      </div>

    </div>
  </body>
</html>
